/* Write your CSS code here */
/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.contact-image {
  height: 250px;
  width: 250px;
  display: block;
}

.contact-text {
  color: #6d396b;
  font-size: 32px;
  font-family: 'Roboto';
  margin-top: 20px;
}
